In [1]:
import pandas as pd

# Example lists
list1 = ['apple', 'banana', 'cherry']
list2 = ['banana', 'dragonfruit', 'apple']
list3 = ['cherry', 'apple', 'elderberry']

# Convert lists to DataFrames with an indicator column for each
df1 = pd.DataFrame(list1, columns=['Item'])
df1['InList1'] = True

df2 = pd.DataFrame(list2, columns=['Item'])
df2['InList2'] = True

df3 = pd.DataFrame(list3, columns=['Item'])
df3['InList3'] = True

# Concatenate all dataframes
df_union = pd.concat([df1, df2, df3])

# Group by 'Item' and apply any() to aggregate the Boolean columns
df_union = df_union.groupby('Item', as_index=False).any()

# Fill NaN values with False where necessary
df_union.fillna(False, inplace=True)

# Display the resulting DataFrame
print(df_union)

          Item  InList1  InList2  InList3
0        apple     True     True     True
1       banana     True     True    False
2       cherry     True    False     True
3  dragonfruit    False     True    False
4   elderberry    False    False     True

In [28]:
import pandas as pd

# Example DataFrame
data = {
    'Category': ['Fruit', 'Fruit', 'Vegetable', 'Fruit', 'Vegetable', 'Vegetable'],
    'Items': ['Apple', 'Banana', 'Carrot', 'Apple', 'Beetroot', 'Carrot']
}
df = pd.DataFrame(data)