In [37]:
df_lines.explode('Tank')

   Line             Product  Tank
0    01  ['A3', 'D3', 'M3']   NaN
1    02  ['54', '56', '62']   NaN
2    13  ['54', '62', '96']  [310
2    13  ['54', '62', '96']   311
2    13  ['54', '62', '96']   312
..  ...                 ...   ...
11   2A              ['62']   371
11   2A              ['62']   373
11   2A              ['62']   374
11   2A              ['62']   375
11   2A              ['62']  376]

[207 rows x 3 columns]

In [35]:
import pandas as pd

# Create the DataFrame
data = {
    'Line': [13],
    'Product': [['54', '62', '96']],
    'Tank': [[310, 311, 312, 313, 314, 316, 317, 330, 331]]
}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Explode the 'Tank' column
df_exploded = df.explode('Tank')

# Display the exploded DataFrame
print("\nExploded DataFrame:")
print(df_exploded)

Original DataFrame:
   Line       Product                                           Tank
0    13  [54, 62, 96]  [310, 311, 312, 313, 314, 316, 317, 330, 331]

Exploded DataFrame:
   Line       Product Tank
0    13  [54, 62, 96]  310
0    13  [54, 62, 96]  311
0    13  [54, 62, 96]  312
0    13  [54, 62, 96]  313
0    13  [54, 62, 96]  314
0    13  [54, 62, 96]  316
0    13  [54, 62, 96]  317
0    13  [54, 62, 96]  330
0    13  [54, 62, 96]  331

In [96]:
import pandas as pd
import ast  # Import abstract syntax trees to safely evaluate strings as Python expressions

# Read the CSV file
file_path = 'input_location/dim_tanks.csv'
df = pd.read_csv(file_path)

# Convert 'Lineout' from string to list
df['Lineout'] = df['LineOut'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])
df['Linein'] = df['LineIn'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else [])

# Initialize an empty dictionary
tank_dict = {}

# Iterate through each row to populate the dictionary
b = {}
for index, row in df.iterrows():
    tank = row['Tank']
    product = row['Product']
    lines = row['Linein']  # Assuming this is already a list, convert if it's a string

    a = {}
    if pd.notna(product):  # Check if product is not NaN before entering the loop
        for line in lines:
            line = str(line).zfill(2)
            a[line] = {product: 0}
    b[tank] = a  
    

# Output the resulting dictionary
print(b)

{310: {'01': {'M4': 0}}, 311: {'01': {'A3': 0}}, 312: {'01': {'D4': 0}}, 313: {'01': {'A2': 0}}, 314: {'01': {'A3': 0}}, 315: {'01': {'V4': 0}}, 316: {'01': {'A2': 0}}, 317: {'01': {'D3': 0}}, 330: {'01': {'A3': 0}}, 331: {}, 332: {'01': {'A3': 0}}, 333: {}, 334: {'01': {'A3': 0}}, 335: {'01': {'A3': 0}}, 336: {'01': {'A3': 0}}, 337: {'01': {'A5': 0}}, 338: {'01': {'A3': 0}}, 339: {'01': {'A3': 0}}, 350: {'02': {'54': 0}}, 351: {}, 352: {'02': {'54': 0}}, 353: {'02': {'54': 0}}, 354: {'02': {'54': 0}}, 360: {'02': {'62': 0}}, 361: {'02': {'62': 0}}, 363: {'02': {'51': 0}}, 370: {'02': {'54': 0}}, 371: {}, 372: {'02': {'96': 0}}, 373: {'02': {'62': 0}}, 374: {'02': {'62': 0}}, 375: {'02': {'62': 0}}, 376: {'02': {'62': 0}}}

In [98]:
base_input_path = Path('input_cycle/v2')
base_output_path = Path('input_location')
input_file = base_input_path / 'tankInventory.csv'
output_file = base_output_path / 'dim_tanks.csv'

# Ensure the output directory exists
base_output_path.mkdir(parents=True, exist_ok=True)

# Function to read and group lines by tank
def group_lines(file_path, line_column_name):
    df_lines = pd.read_csv(file_path, usecols=['Tank', 'Line'])
    grouped = df_lines.groupby('Tank')['Line'].agg(list).reset_index()
    return grouped.rename(columns={'Line': line_column_name})

# Read only the necessary columns from the main tank file
df = pd.read_csv(input_file, usecols=['Tank', 'Type', 'Product', 
                                      'Type', 'Out of Service',
                                      'Low Level', 'Normal Fill', 'Max Capacity'])

# Rename the column
df.rename(columns={'Low Level': 'Bottom',
                  'Normal Fill': 'Working',
                  'Max Capacity': 'Maximum'}, inplace=True)

# Columns to modify
columns_to_modify = ['Bottom', 'Working', 'Maximum']

# Divide by 100 and round to three decimal places
df[columns_to_modify] = df[columns_to_modify].div(1000).round(0)


# Process and merge line out data
line_out_path = base_output_path / 'topoO_ATJ.csv'
line_out_data = group_lines(line_out_path, 'LineOut')
df = df.merge(line_out_data, on='Tank', how='left')

# Process and merge line in data
line_in_path = base_output_path / 'topoI_ATJ.csv'
line_in_data = group_lines(line_in_path, 'LineIn')
df = df.merge(line_in_data, on='Tank', how='left')

ValueError: Usecols do not match columns, columns expected but not found: ['Low Level', 'Normal Fill', 'Max Capacity', 'Type', 'Out of Service']