In [2]:
import pandas as pd
import numpy as num
import matplotlib.pyplot as plt
import gurobipy as gp
from   gurobipy import GRB
import time
import datetime
import math
import csv
import os
import warnings
import re
import collections

warnings.filterwarnings('ignore')
import Data_Functions as f

# Read files

In [3]:
directory = 'C:/Users/bount/Colonial-Storage/data_new_3/'
filenames = os.listdir(directory)
cd = os.getcwd()

dfs = []
for file in filenames:
    df = pd.read_excel (directory + file, header=0, sheet_name = "Sheet1")
    df['file']  = file
    df['Start'] = pd.to_datetime(df['Start Date/Time'])
    df['End']   = pd.to_datetime(df['End Date/Time'])
    df['Identifier'] = df['Code'] + '//' + df['Start'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S')) + '//' + df['End'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S')) + '//' + df['Line'].astype(str)
    dfs.append(df)

df_1 = pd.concat(dfs)

# Add Columns

In [4]:
#-------------------------------------------------------------------------
# Add Client, Product, Cycle
#
temp = df_1['Code'].str.extract(r'(\w+)-(\w+)-(\w+)')
temp.columns = ['Client', 'Product', 'Cycle']
df_1 = pd.concat([df_1, temp], axis=1)

#-------------------------------------------------------------------------
# Add Product
#
def product(df):
    if (df['Product Grade'] in ['A3', 'A4']):
        return 'A'
    elif (df['Product Grade'] in ['D3', 'D4']):
        return 'D'
    else:
        return df['Product Grade']
df_1['Product'] = df_1.apply(product, axis = 1)
df_1['Product'] = df_1['Product'].astype(str)
    
#-------------------------------------------------------------------------
# Add Line
#    
def line(df):
    if (df['Line'] in [1]):
        return '01'
    if (df['Line'] in [2]):
        return '02'
    else:
        return df['Line']
df_1['Line']    = df_1.apply(line, axis = 1)
df_1['Line']    = df_1['Line'].astype(str)

#-------------------------------------------------------------------------
# Add Type
#
def typ(df):
    if (df['Line'] in ['01', '02']):
        return 'In'
    else:
        return 'Out'
df_1['Type']    = df_1.apply(typ, axis = 1)

#-------------------------------------------------------------------------
# Add Exclude
#
df_1['Time_difference'] = df_1['End'] - df_1['Start']
df_1['Time_in_hours']   = df_1['Time_difference'] / pd.Timedelta(hours=1)
df_1['Vol_per_Hr']      = df_1['Volume'] / df_1['Time_in_hours']
def exclude(df):
    if (df['Vol_per_Hr'] >= 50):
        return 1
    else:
        return 0    
df_1['Exclude'] = df_1.apply(exclude, axis = 1)

#-------------------------------------------------------------------------
# Misc
#
df_1 = df_1.rename(columns={'Vol Tank':'Volume_Tank'})

# Collapse Cycles

In [5]:
df_1.loc[df_1['Cycle'] == '02A', 'Cycle'] = '021'
df_1.loc[df_1['Cycle'] == '022', 'Cycle'] = '021'
df_1.loc[df_1['Cycle'] == '023', 'Cycle'] = '021'
df_1.loc[df_1['Cycle'] == '032', 'Cycle'] = '031'
df_1.loc[df_1['Cycle'] == '035', 'Cycle'] = '031'
df_1.loc[df_1['Cycle'] == '03A', 'Cycle'] = '031'
df_1.loc[df_1['Cycle'] == '042', 'Cycle'] = '041'
df_1.loc[df_1['Cycle'] == '043', 'Cycle'] = '041'
df_1.loc[df_1['Cycle'] == '045', 'Cycle'] = '041'
df_1.loc[df_1['Cycle'] == '046', 'Cycle'] = '041'
df_1.loc[df_1['Cycle'] == '04A', 'Cycle'] = '041'
df_1.loc[df_1['Cycle'] == '04B', 'Cycle'] = '041'
df_1.loc[df_1['Cycle'] == '04K', 'Cycle'] = '041'
df_1.loc[df_1['Cycle'] == '052', 'Cycle'] = '051'
df_1.loc[df_1['Cycle'] == '055', 'Cycle'] = '051'
df_1.loc[df_1['Cycle'] == '05A', 'Cycle'] = '051'
df_1.loc[df_1['Cycle'] == '062', 'Cycle'] = '061'
df_1.loc[df_1['Cycle'] == '063', 'Cycle'] = '061'
df_1.loc[df_1['Cycle'] == '06A', 'Cycle'] = '061'
df_1.loc[df_1['Cycle'] == '06B', 'Cycle'] = '061'
df_1.loc[df_1['Cycle'] == '072', 'Cycle'] = '071'
df_1.loc[df_1['Cycle'] == '074', 'Cycle'] = '071'
df_1.loc[df_1['Cycle'] == '082', 'Cycle'] = '081'
df_1.loc[df_1['Cycle'] == '084', 'Cycle'] = '081'

# Exclude Columns

In [6]:
#---------------------------------------------------------------------------
# Remove rows
#
nan_values = df_1.isna()
index      = df_1.loc[nan_values['Tank'] == True].index
df_1       = df_1.drop(index=index)

#-------------------------------------------------------------------------
# Exclude products not in A, D, 54, 62
#
df_1 = df_1[(df_1['Cycle'].isin(['021', '031', '041', '051', '061', '071', '081']))]

#-------------------------------------------------------------------------
# Exclude columns with errors
# 
print('We are excluding ' + str(sum(df_1['Exclude'])) + ' rows with errors.')
df_1 = df_1[df_1['Exclude'] == 0]

#-------------------------------------------------------------------------
# Exclude products not in A, D, 54, 62
#
print('We are excluding ' + str(sum(~(df_1['Product'].isin(['A', 'D', '54', '62'])))) + ' rows with other products.')
df_1 = df_1[(df_1['Product'].isin(['A', 'D', '54', '62']))]

#---------------------------------------------------------------------------
# Remove rows due to Line/Product combinations
#
df_1['Tank'] = df_1['Tank'].astype(int)
df_1 = df_1[~((df_1['Line'].isin(['20']) & df_1['Product'].isin(['A'])))]
df_1 = df_1[~((df_1['Line'].isin(['20']) & df_1['Product'].isin(['D'])))]
df_1 = df_1[~((df_1['Tank'].isin([310]) & df_1['Product'].isin(['D'])))]

#---------------------------------------------------------------------------
# When Volume_Tank >= 900 replace it with 10 - it is a data error
#
df_1.loc[df_1['Volume_Tank'] >= 900, 'Volume_Tank'] = 10

We are excluding 36 rows with errors.
We are excluding 81 rows with other products.

# Create the tickets

In [7]:
#-------------------------------------------------------------------------
# Create the "Pick" column
# 
a = df_1[['file', 'Cycle', 'Line', 'Type', 'Volume', 'Tank', 'Product']]
a = a.loc[a["Product"] == '62']
a = a.groupby(['file', 'Cycle', 'Type']).agg({'Volume': ['sum']}).reset_index()
a.columns = a.columns.droplevel(level=1)
def typ(df):
    if (df['Type'] in ['In']):
        return df['Volume']
    else:
        return -df['Volume']
a['Volume_v2']    = a.apply(typ, axis = 1)
a = a.groupby(['file', 'Cycle']).agg({'Volume_v2': ['sum']}).reset_index()
a.columns = a.columns.droplevel(level=1)
a = a.sort_values(by=['Cycle', 'file'], ascending=[True, True])

b = df_1.groupby(['file', 'Cycle', 'Type'])['Product'].nunique()
b = pd.DataFrame(b)
b = b.reset_index()
b = b.groupby(['file', 'Cycle']).agg({'Product': ['min', 'count']}).reset_index()
b.columns = b.columns.droplevel(level=1)
b.columns = ['file', 'Cycle', 'Products', 'Count']
b = b.loc[(b['Products'] == 4) & (b['Count'] == 2)]

#-------------------------------------------------------------------------
# Selection
#
a = pd.merge(a, b, on = ['file', 'Cycle'])

print(a.loc[(a['Cycle'] == '031')]) #ATJ.2023.01.18.xlsx
print(a.loc[(a['Cycle'] == '041')]) #ATJ.2023.01.25.xlsx
print(a.loc[(a['Cycle'] == '051')]) #ATJ.2023.01.30.xlsx
print(a.loc[(a['Cycle'] == '061')]) #ATJ.2023.02.06.xlsx
print(a.loc[(a['Cycle'] == '071')]) #ATJ.2023.02.10.xlsx
print(a.loc[(a['Cycle'] == '081')]) #ATJ.2023.02.13.xlsx

a = pd.DataFrame({
'file':['ATJ.2023.01.18.xlsx', 'ATJ.2023.01.25.xlsx', 'ATJ.2023.01.30.xlsx', 'ATJ.2023.02.06.xlsx', 'ATJ.2023.02.10.xlsx', 'ATJ.2023.02.13.xlsx'],
'Cycle':['031', '041', '051', '061', '071', '081'],
'Pick':[1,1,1,1,1,1]
})

df_3       = pd.merge(df_1, a, on = ['Cycle', 'file'], how='outer')
df_4       = df_3[df_3['Pick'] == 1]
df_tickets = df_4

                  file Cycle  Volume_v2  Products  Count
2  ATJ.2023.01.18.xlsx   031    182.995         4      2
3  ATJ.2023.01.20.xlsx   031    183.765         4      2
4  ATJ.2023.01.23.xlsx   031     -5.000         4      2
                  file Cycle  Volume_v2  Products  Count
5  ATJ.2023.01.23.xlsx   041    380.827         4      2
6  ATJ.2023.01.25.xlsx   041    237.645         4      2
7  ATJ.2023.01.27.xlsx   041    -23.955         4      2
                   file Cycle  Volume_v2  Products  Count
8   ATJ.2023.01.27.xlsx   051    175.774         4      2
9   ATJ.2023.01.30.xlsx   051    442.388         4      2
10  ATJ.2023.02.01.xlsx   051    176.513         4      2
11  ATJ.2023.02.03.xlsx   051    155.999         4      2
                   file Cycle  Volume_v2  Products  Count
12  ATJ.2023.02.01.xlsx   061    269.880         4      2
13  ATJ.2023.02.03.xlsx   061    339.461         4      2
14  ATJ.2023.02.06.xlsx   061     83.000         4      2
                   file Cycle  Volume_v2  Products  Count
15  ATJ.2023.02.06.xlsx   071    151.800         4      2
16  ATJ.2023.02.08.xlsx   071    136.452         4      2
17  ATJ.2023.02.10.xlsx   071   -165.828         4      2
18  ATJ.2023.02.13.xlsx   071   -219.499         4      2
                   file Cycle  Volume_v2  Products  Count
19  ATJ.2023.02.13.xlsx   081    293.540         4      2
20  ATJ.2023.02.15.xlsx   081    175.800         4      2
21  ATJ.2023.02.17.xlsx   081    176.659         4      2

# Auditing

In [8]:
Bounds   = {
            "01": {"l": 25,   "u": 28},
            "02": {"l": 6,    "u": 10},
            "13": {"l": 2,    "u": 2},
            "14": {"l": 2,    "u": 2.4}, 
            "15": {"l": 4,    "u": 5},
            "16": {"l": 2,    "u": 2.15},
            "17": {"l": 4,    "u": 5},
            "18": {"l": 7,    "u": 8.7},
            "19": {"l": 4,    "u": 5.1},
            "20": {"l": 1,    "u": 1.75},
            "1A": {"l": 1,    "u": 5},
            "2A": {"l": 1,    "u": 5}
           }

a = df_tickets.groupby(['Cycle', 'Line']).agg({'Volume': 'sum'}) 
a = a.reset_index()
ab= pd.DataFrame.from_dict(Bounds, orient='index')
ab = ab.reset_index()
ab.columns = ['Line', 'l', 'u']

a = pd.merge(a, ab, on=['Line'], how = 'outer')
a['Hours'] = a['Volume'] / a['u']
a = a.sort_values(by=['Cycle', 'Line'])

# Remove rows

In [9]:
#---------------------------------------------------------------------------
# Audit and remove values
#
def audit(df):
    print("***Cycle***")
    a = list(set(list(df.Cycle)))
    print(sorted(a))
    print("***Tanks***")
    print(sorted(list(set(list(df.Tank)))))
    print("***Products***")
    print(sorted(list(set(list(df.Product)))))
    
audit(df_tickets)

***Cycle***
['031', '041', '051', '061', '071', '081']
***Tanks***
[310, 311, 312, 313, 314, 316, 317, 330, 331, 332, 333, 334, 336, 337, 338, 339, 350, 351, 352, 353, 354, 360, 361, 370, 371, 373, 374]
***Products***
['54', '62', 'A', 'D']

In [10]:
import Data_Functions as f
ret = f.data_volume(df_tickets)
top = f.data_topology(df_tickets)

Done

In [23]:
df_tickets.to_csv('results/tickets_3.csv', index=False)

my_dict = ret['VolIn']
with open('results/VolIn_3.csv', 'w', newline="") as f:
    writer = csv.writer(f)
    for key, value in my_dict.items():
        writer.writerow([key, value])

my_dict = ret['VolOut']
with open('results/VolOut_3.csv', 'w', newline="") as f:
    writer = csv.writer(f)
    for key, value in my_dict.items():
        writer.writerow([key, value])
        
my_dict = ret['VolExist']
with open('results/VolExist_3.csv', 'w', newline="") as f:
    writer = csv.writer(f)
    for key, value in my_dict.items():
        writer.writerow([key, value]) 

my_dict = top        
with open('results/Topology_3.csv', 'w', newline="") as f:
    writer = csv.writer(f)
    for key, value in my_dict.items():
        writer.writerow([key, value])

        
        
my_dict = ret['VolLineFlows']        
# Concatenate the dataframes into a single dataframe
concatenated_df = pd.concat(my_dict.values(), ignore_index=True)
# Write the concatenated dataframe to a CSV file
concatenated_df.to_csv('results/VolLineFlows_3.csv', index=False)

df_dates = df_tickets.groupby('Cycle')['Start Date/Time'].min()
df_dates.to_csv('results/dates_3.csv')

In [22]:
# # Read data from a CSV file into a DataFrame
# df = pd.read_csv('results/lineFlows_3.csv')
# max(df[(df['Cycle'] == 31)]['Time'])

concatenated_df

,Datetime,Volume,Diff,Cycle,Hourly_Vol,Product,Line,Datetime_Min,Time,Datetime,...,Time,Datetime,Volume,Diff,Cycle,Hourly_Vol,Product,Line,Datetime_Min,Time
0,2023-01-22 03:00:00,107.906,7.0,031,15.415,A,01,2023-01-22 02:00:00,1.0,2023-01-26 23:00:00,...,0.0,2023-02-15 05:00:00,134.221,8.0,081,16.778,A,01,2023-02-14 15:00:00,14.0
1,2023-01-22 04:00:00,107.906,7.0,031,15.415,A,01,2023-01-22 02:00:00,2.0,2023-01-27 00:00:00,...,1.0,2023-02-15 06:00:00,134.221,8.0,081,16.778,A,01,2023-02-14 15:00:00,15.0
2,2023-01-22 05:00:00,107.906,7.0,031,15.415,A,01,2023-01-22 02:00:00,3.0,2023-01-27 01:00:00,...,2.0,2023-02-15 07:00:00,134.221,8.0,081,16.778,A,01,2023-02-14 15:00:00,16.0
3,2023-01-22 06:00:00,107.906,7.0,031,15.415,A,01,2023-01-22 02:00:00,4.0,2023-01-27 02:00:00,...,3.0,2023-02-15 08:00:00,134.221,8.0,081,16.778,A,01,2023-02-14 15:00:00,17.0
4,2023-01-22 07:00:00,107.906,7.0,031,15.415,A,01,2023-01-22 02:00:00,5.0,2023-01-27 03:00:00,...,4.0,2023-02-15 09:00:00,134.221,8.0,081,16.778,A,01,2023-02-14 15:00:00,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2023-02-01 14:00:00,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
989,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2023-02-01 15:00:00,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
990,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2023-02-01 16:00:00,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
991,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2023-02-01 17:00:00,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
992,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN